<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util
            https://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="loggers.xml"/>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="client" class="com.pl.spring.Client">
        <constructor-arg index="0" value="${id}"/>
        <constructor-arg index="1" value="${name}"/>
        <property name="greeting" value="${greeting}"/>
    </bean>

    <bean id="app" class="com.pl.spring.App" c:loggerMap-ref="loggerMap">
        <constructor-arg index="0" ref="client"/>
        <constructor-arg index="1" ref="consoleEventLogger"/>
    </bean>

    <bean id="dateFormat"
          class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
    <bean id="event" class="com.pl.spring.entity.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>
</beans>
