<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="com.pl.spring.Client">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="John Smith"/>
    </bean>

    <bean id="eventLogger"
          class="com.pl.spring.logger.ConsoleEventLogger"/>

    <bean id="fileEventLogger"
          class="com.pl.spring.logger.FileEventLogger" init-method="init">
        <constructor-arg value="test.txt"/>
    </bean>
    <bean id="cacheFileEventLogger"
          class="com.pl.spring.logger.CacheFileEventLogger" init-method="init" destroy-method="destroy">
        <constructor-arg value="test.txt"/>
        <constructor-arg value="2"/>
    </bean>

    <bean id="app" class="com.pl.spring.App">
        <constructor-arg index="0" ref="client"/>
        <constructor-arg index="1" ref="cacheFileEventLogger"/>
<!--        <constructor-arg index="1" ref="fileEventLogger"/>-->
        <!--        <constructor-arg index="1" ref="fileEventLogger"/>-->
    </bean>

    <bean id="dateFormat"
          class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
    <bean id="event" class="com.pl.spring.entity.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

</beans>
